body {
    background-image: url('../img/papyrus-dark.png')
}

.jumbotron {
    background-color: #ff9900;
    
}

.panel-heading {
    background-color: #ff9900 !important;
}

.panel-body {
    color: grey !important;
}

.navbar {
    background-color: black;
}

.navbar-brand:link, .navbar-brand:visited {
    color: gold !important;
}

.navbar-brand:hover, .navbar-brand:active {
    color: white !important;
}

ul li a:link, ul li a:visited {
    color: white !important;
}

ul li a:hover, ul li a:active {
  color: goldenrod! important;
} 

